<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Il nostro team</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            @Html.Partial("_DavideBenvegnu")
            @Html.Partial("_DanieleCapoferri")
            @Html.Partial("_EmanueleBartolesi")
            @Html.Partial("_EricaBarone")
            @Html.Partial("_FrancescoBaldassarri")
            @Html.Partial("_FrancescoMoro")
            @Html.Partial("_GraziaCimmino")
            @Html.Partial("_MarcoCasaluce")
            @Html.Partial("_MarcoMinerva")
            @Html.Partial("_MarcoDalPino")
            @Html.Partial("_MarcoParenzan")
            @Html.Partial("_MarcoPozzan")
            @Html.Partial("_MircoVanini")
    </div>
    </div>
</div>